.box__body{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
}

.destaque__perfil{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2em 0 3em 0;

    .imgPerfil{
        height: 10em;
        border-style: outset;
        border-color: #06BCC1;
        border-radius: 50%;
        margin: 0 0 1em 15px;
    }

    .titulo__texto{
        font-size: 20px;
        background-image: linear-gradient(to left, #C7DBE6, #B9D2DF, #659BB8, #477D9A,#40718C);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 0 0 5px;
    }
}

.box__body__sublista{
    display: grid;
    .subtitulo__texto{
        text-align: center;
        justify-content: center;
        color: #C7DBE6;
        font-size: 30px;
        margin: 15px 0 25px 30px;
    }

    .box__buttons{
        align-items: center;  

        .lista__button{
            margin: 15px 0 0 0;

            .button__lista{
                margin: 0px 0 40px 0px;
                
                .button__link{
                    border-radius: 15px;
                    text-decoration: none;
                    
                }

                .button__pg{
                    display: flex;
                    align-items: center;
                    background-color: #313D5A;
                    border-radius: 15px;
                    width: 18em;
                    padding: 10px 10px 10px 10px;
                    font-size: 18px;

                }

                :hover{
                    border-radius: 20px;
                    background-color: #415176;
                    cursor:pointer
                }
                
                :active{
                    background-color: #06BCC1;
                    border-radius: 25px;
                }

                .img__rede{
                    margin-right: 4em;
                }
            }
        }
    }
}