.header__titulo{
    display: flex;
    color: #56638A;
    justify-content: center;
    margin: 5px 0 0 0;
}

.menu__nav__lista{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 20px;
}

.item__home{
    color: #D99AC5;
    text-decoration: none;
}

.item__sobremim{
    color: #D99AC5;
    text-decoration: none;
}

.item__sobremim:hover{
    color: #D99AC5;
    background-color: #363f58;
    padding: 3px 15px 3px 5px;
    border-radius: 10px;
}

.item__sobremim:active{
    color: #45527c;
}

.menu__lista__sobremim{
    list-style: none;
    list-style-type: none;
    margin: 1em 0 0 0;
}

.lista__item{
    margin: 10px 0 0 10px;
}

.link__item{
    text-decoration: none;
    margin: 0 0 0 1px;
    color: #1097BC;
    font-size: 16px;
}