@import url("header.component.css");
@import url("body.component.css");
@import url("footer.component.css");

body{
    background-image: linear-gradient(30deg, #100e2b, #020C13,#010F14, #0B131E, #100e2b);
    background-size: cover;
    height: 120vh;
    display: grid;
}

header{
    background-image: linear-gradient(30deg,#010a0f, #09071a,#010F14, #0B131E, #100e2b);
    height: 15vh;
}

footer{
    background-image: linear-gradient(100deg, #100e2b, #020C13,#021b24, #021820, #010F14);
    background-size: cover;
}